// Font Stacks
$primaryFont:   'Nunito', sans-serif;
$secondaryFont: 'Lora', serif;

// Palette Colors
$primaryColor:   '';
$secondaryColor: '';
$linkColor:      '';
$linkcolorHover: '';

// Font Sizes
$basefontSize:  1em;
$fontsizeScale: .2em;

// Media Query Scope
$Desktop: '';
$Tablet:  '';
$Phone:   '';